<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Maven+Pro:400,700&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap" rel="stylesheet">
    <title>Document</title>
    <script>
        function fun() {
            window.location.href="{{ url_for('algoBase2') }}";
        }
         var random=1;
        var prom="sth";
        function randomNumber() {
            return 1+Math.floor(Math.random()*(5));
        }
        setTimeout(function(){
        $(document).ready(function() {
            $(".row").css("margin-top",$(document).height()/10+"px");
            $(".container").css("display","block");
            $('a').hover(function() {
                $(this).find($('h4')).addClass("ontab");
                $(this).find($(".cardi")).css("border-color","#cdcdcd");
            },
            function() {
                $(this).find("h4").removeClass("ontab");
                $(this).find($(".cardi")).css("border-color","#898989");
            });
        });
        },500);
        setTimeout(function() {
        $(document).ready(function() {
            setTimeout(function() {
                random=randomNumber();
                $('#2').attr("src", $('#'+random).attr("src"));
                $('#'+random).attr("src", "https://drive.google.com/uc?id=1AFXvkC6Ib1cvwC0tB1MecTmYMQnacwkF");
            },2000);
            setTimeout(function() {
            $("#fpc").css("background-color","#ffff88");
                setTimeout(function() {
            $("#fpc").css("background-color","#ffffff");
            $("#spc").css("background-color","#ffff88");
            $("#1").removeClass("invi");
                $("#first").addClass("invi");
            },2000);
                if($("#1").attr("src")=="https://drive.google.com/uc?id=1AFXvkC6Ib1cvwC0tB1MecTmYMQnacwkF") {
                    setTimeout(function() {
            $("#spc").css("background-color","#ffffff");
                    $("#tpc").css("background-color","#ffff88");
                    },3000);
                    setTimeout(function() {
                        $('#pB').css("display","block");
                    },4000);
                }
                else {
                    setTimeout(function() {
            $("#spc").css("background-color","#ffffff");                    
            $("#f2pc").css("background-color","#ffff88");
            },3500);
            setTimeout(function() {
            $("#f2pc").css("background-color","#ffffff");
            $("#f3pc").css("background-color","#ffff88");
            },4800);
            setTimeout(function() {
            $("#f3pc").css("background-color","#ffffff");                
            $("#fpc").css("background-color","#ffff88");
            },6100);
                    setTimeout(function() {
                        setTimeout(function() {
                            $("#fpc").css("background-color","#ffffff");
            $("#spc").css("background-color","#ffff88");
            $("#2").removeClass("invi");
                        $("#second").addClass("invi");
            },1500);
                        if($("#2").attr("src")=="https://drive.google.com/uc?id=1AFXvkC6Ib1cvwC0tB1MecTmYMQnacwkF") {
                            setTimeout(function() {
                                $("#spc").css("background-color","#ffffff");
                    $("#tpc").css("background-color","#ffff88");
                            },3000);
                            setTimeout(function() {
                        $('#pB').css("display","block");
                    },4000);
                        }
                        else {
                            setTimeout(function() {
            $("#spc").css("background-color","#ffffff");                    
            $("#f2pc").css("background-color","#ffff88");
            },3500);
            setTimeout(function() {
            $("#f2pc").css("background-color","#ffffff");
            $("#f3pc").css("background-color","#ffff88");
            },4800);
            setTimeout(function() {
            $("#f3pc").css("background-color","#ffffff");                
            $("#fpc").css("background-color","#ffff88");
            },6100);
                            setTimeout(function() {
            setTimeout(function() {
                $("#fpc").css("background-color","#ffffff");
            $("#spc").css("background-color","#ffff88");
            $("#3").removeClass("invi");
                            $("#third").addClass("invi");
            },1500);
                            if($("#3").attr("src")=="https://drive.google.com/uc?id=1AFXvkC6Ib1cvwC0tB1MecTmYMQnacwkF") {
                                setTimeout(function() {
                                    $("#spc").css("background-color","#ffffff");
                    $("#tpc").css("background-color","#ffff88");
                                },3000);
                                setTimeout(function() {
                        $('#pB').css("display","block");
                    },4000);
                                }
                            else {
                                setTimeout(function() {
            $("#spc").css("background-color","#ffffff");                    
            $("#f2pc").css("background-color","#ffff88");
            },3500);
            setTimeout(function() {
            $("#f2pc").css("background-color","#ffffff");
            $("#f3pc").css("background-color","#ffff88");
            },4800);
            setTimeout(function() {
            $("#f3pc").css("background-color","#ffffff");                
            $("#fpc").css("background-color","#ffff88");
            },6100);
                                setTimeout(function() { 
            setTimeout(function() {
                $("#4").removeClass("invi");
                                $("#fourth").addClass("invi");
                                $("#fpc").css("background-color","#ffffff");
            $("#spc").css("background-color","#ffff88");
            },1500);
                                if($("#4").attr("src")=="https://drive.google.com/uc?id=1AFXvkC6Ib1cvwC0tB1MecTmYMQnacwkF") {
                                    setTimeout(function() {
                                        $("#spc").css("background-color","#ffffff");
                    $("#tpc").css("background-color","#ffff88");
                                    },3000);
                                    setTimeout(function() {
                        $('#pB').css("display","block");
                    },4000);
                                }
                                },6100);
                            }
                            },6500);
                        }
                    },6700);
                        }
            },4200);
        });
        },1500);
    </script>
    <style>
        h1 {
            font-family: 'Julius Sans One';
        }
        .container {
            display: none;
        }
        body {
            font-family: 'Maven Pro';
        }
        body{
           background-color: #e6e6e6;
       }
        img {
            width:23%;
            height:23%;
        }
        .invi {
            display: none;
        }
        p{
            float:left;
            clear:both;
            font-size:20px;
        }
        .indentation {
            margin-left:30px;
        }
        h2 {
            margin-bottom:20px;
        }
        #ii, #spc, #f2pc {
            margin-bottom:0px;
        }
        .indentation1 {
            margin-left: 60px;
        }
    </style>
</head>
<body>
        <div class="container">
                <div class="row">
                        <div class="col-sm-8">
                                <h1 style="font-variant: small-caps; text-align:right; font-size:50px; margin-top:0px; margin-bottom:0px;">the card problem 2</h1>
                        </div>
                        <div class="col-sm-4">
                            <button onclick="fun()" style="float:right; font-size: 20px;" class="btn btn-secondary"><span class="glyphicon glyphicon-chevron-left"></span></button>
                    <button id="pB" class="btn btn-secondary" style="text-align:left; float:right; font-size: 20px; margin-right:10px; width:200px; display:none;">Animation ended</button>                
                        </div>
                </div>
                <div id="sec" class="row" style="margin-top:0px;">
                        <div class="col-sm-6">
                            <h2 style="text-align: center;">Illustration</h2>
                                <img id="1" class="invi" src="https://drive.google.com/uc?id=18WpcexVG1BTzeBks-69F5FSrya9noZDP">
                                <img id="first" src="https://drive.google.com/uc?id=1RzksiUhPZETXUMgzDOmcaozB5KSZiWIT">
                                <img id="2" class="invi" src="https://drive.google.com/uc?id=1AFXvkC6Ib1cvwC0tB1MecTmYMQnacwkF">
                                <img id="second" src="https://drive.google.com/uc?id=1RzksiUhPZETXUMgzDOmcaozB5KSZiWIT">
                                <img id="3" class="invi" src="https://drive.google.com/uc?id=18CBfL16xvwEXf7ghPvDD1YO346vhQbPy">
                                <img id="third" src="https://drive.google.com/uc?id=1RzksiUhPZETXUMgzDOmcaozB5KSZiWIT">
                                <img id="4" class="invi" src="https://drive.google.com/uc?id=1FVns8AGYUSoSi6xEvDXg062A2GVKvixF">
                                <img id="fourth" src="https://drive.google.com/uc?id=1RzksiUhPZETXUMgzDOmcaozB5KSZiWIT">                            
                            </div>
                            <div class="col-sm-6" style="text-align: center;">
                            <h2>Pseudo Code</h2>
                                <p id="ii">initial: cards[5]</p>
                                <p id="fpc">for i<-0 to 4</p>
                                <p class="indentation" id="spc">if cards[i]==2 then</p>
                                <p class="indentation1" id="tpc">print(the card number 2 is at position i)</p>
                                <p class="indentation" id="f2pc">else</p>
                                <p class="indentation1" id="f3pc">continue</p>
                            </div>
                </div>
        </div> 
</body>
</html>